<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>comments</title>
	</head>
	<body>
		<h1>Our database has <%= comments.length %> comment(s)</h1>
		<div class="comments">
			<ul>
				<% for( let i = 0; i < comments.length; i++ ) { %>
				<h2>
					Author: <u> <%= comments[i].user %> </u>
					Says:
					<u> <%= comments[i].comment %> </u>.
				</h2>
				<br />
				<br />
				<a href="/comments/<%= comments[i].id %>">Read more</a>
				<a href="/comments/<%= comments[i].id %>/edit">Edit this comment</a>
				<br />
				<br />
				<button id="<%=comments[i].id %>" onclick="deleteComment(this)">Delete</button>
				<% } %>
			</ul>
		</div>
		<h2>Want to add a comment? <a href="comments/new">go here!</a></h2>
		<a href="/">Go back to our home page</a>

		<script>
			function deleteComment(id) {
				console.log(id);
				fetch(`/comments/${id}/delete`, {
					method: "delete",
					headers: {
						"Content-Type": "application/json",
						accept: "application/json",
						"Access-Control-Origin": "*",
					},
					body: JSON.stringify({
						id,
					}),
				}).then(() => {
					window.location.href = "/comments";
				});
			}
		</script>
	</body>
</html>
